html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*<!-- ---------Navigation Area--------------->*/
.nav-logo {
/*	border: 1px solid green;*/
	flex: 1
}
.nav-icon {
/*	border: 1px solid blue;*/
	flex: 1
}

.nav-li {
  cursor: pointer;
}

.nav-li:hover {
	background-color: #49505f;
}



#nav-main { 
  background-color: #424A59; 
  color: white;
  display: flex;
}

.nav-ul {
  list-style-type: none;
/*  border: 1px solid red;*/
/*  flex: 3;*/
  padding: 0px;
  margin: 5px;
  
}

.nav-li {
  display: inline-block;
	margin: 10px;
	padding: 11px;
  border: 1px solid #606977;

}


/*<!-- ---------Header Section--------------->*/

#header-main {
	background: url(img/bg-forest.jpg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 30em;
}


/*<!-- ---------Column--------------->*/
.column-1-align {flex: 1}
.column-1-main {
	width: 100%;
	height: 18em;
	display: flex;
}

.column-style-div {
	background-color: #f2f2f2;
	box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.75);
	height: 266px;
    width: 258px;
	margin: 9px;
}

/*<!-- ----Box 1-------->*/

.column-1-div-1 {
	
	
}

.bg-co-top-1 {
	background: url(img/leaves.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-1, .btn-1 {
	color: #ffffff; 
  background-color: #1BBD53; 
	border-color: #0F6B25; 
}

.bg-co-top-1, .btn-1:hover {
	color: #ffffff; 
  background-color: #3AB35A; 
	border-color: #0F6B25; 
	cursor: pointer;
}

/*<!-- ----Box 2-------->*/

.column-1-div-2 {

	
}

.bg-co-top-2 {
	background: url(img/trees.jpg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.btn-2 {
	color: #ffffff; 
  background-color: #2087BE; 
  border-color: #1B6A94; 
	padding: 10px 29px;
    font-size: 12px;
    border-radius: 7px;
}

.btn-2:hover {
	color: #FFFFFF; 
  background-color: #1379B0; 
  border-color: #1B6A94; 
	cursor: pointer;
}

/*<!-- ----Box 3-------->*/

.column-1-div-3 {

}

.bg-co-top-3 {
	background: url(img/bridge.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.btn-3 {
	color: #ffffff; 
  background-color: #852510; 
  border-color: #6B1E0D;  
	padding: 10px 29px;
    font-size: 12px;
    border-radius: 7px;
}

.btn-3:hover {
	color: #ffffff; 
  background-color: #752A1A; 
  border-color: #6B1E0D; 
	cursor: pointer;
}

/*<!-- ----Box 4-------->*/

.bg-co-top-4 {
	background: url(img/canyon.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-5 {
	background: url(img/railroad.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-6 {
	background: url(img/steam.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-7 {
	background: url(img/walkway.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-8 {
	background: url(img/mountains.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-9 {
	background: url(img/city.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}




/*<!-- ---------Header 2--------------->*/

#header-2 {
	background: url(img/beach.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 11em;
}


#header-2, h2 {
	text-algin: center;
	color: white;
    font-size: 2em;
    text-align: center;
}



/*<!-- ---------Column Final--------------->*/
.column-1-div-final {
	border: 1px solid black;
	height: 466px;
    width: 758px;
	margin: 20px;
}

.bg-co-top-final {
	background: url(img/leaves.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 75%;
}

.column-1-final {
    width: 100%;
    display: flex;
}



/*<!-- ---------Contact Form--------------->*/

#contact-form-main {
	background: url(img/city.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 20em;
}


/*<!-- ---------Footer--------------->*/
footer {
	background-color: grey;
	width: 100%;
	height: 7em;
}

.credit {
	background-color: grey;
	width: 100%;
	height: 2em;
	border-top: 1px solid black;
}

