html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html, body {
    
}

/*<!-- ---------Navigation Area--------------->*/
.nav-logo {
/*	border: 1px solid green;*/
	flex: 1
}
.nav-icon {
/*	border: 1px solid blue;*/
	flex: 1
}

.nav-li {
  cursor: pointer;
}

.nav-li:hover {
	background-color: #49505f;
}



#nav-main { 
  background-color: #424A59; 
  color: white;
  display: flex;
}

.nav-ul {
  list-style-type: none;
/*  border: 1px solid red;*/
/*  flex: 3;*/
  padding: 0px;
  margin: 5px;
  
}

.nav-li {
  display: inline-block;
	margin: 10px;
	padding: 11px;
  border: 1px solid #606977;

}


/*<!-- ---------Header Section--------------->*/

#header-main {
	background: url(img/bg-forest.jpg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 30em;
}

.header-h1 {
	color: white;
  	text-shadow:
   	-1px -1px 0 #606977,  
    1px -1px 0 #606977,
    -1px 1px 0 #606977,
    1px 1px 0 #606977;
	font-size: 3.6em; 
	padding-top: 200px;"
}

.header-h3 {
	color: white; 
	margin-top: 4px;
}


/*<!-- ---------Column--------------->*/
.column-1-align {flex: 1}
.column-1-main {
	width: 86%;
    margin: 0 auto;
	height: 18em;
	display: flex;
}

.column-style-div {
	background-color: #f2f2f2;
	box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.75);
	height: 282px;
	width: 44%;
	margin: 6px;
}

.bg-co-top-1-h3 {
	text-align: center; 
	margin-top: 10px;
}

.bg-co-top-1-p {
	padding: 10px 10px 0px 10px;
}



/*<!-- ----Box 1-------->*/

.column-1-div-1 {
	
	
}

.bg-co-top-1 {
	background: url(img/leaves.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
	
}

.btn-1 {
	color: #ffffff; 
  	background-color: #1BBD53; 
	border-color: #0F6B25; 
	
	margin: 0 auto; 
	font-size: 12px;
	padding: 10px 29px;
	border-radius: 7px;
}

.bg-co-top-1, .btn-1:hover {
	color: #ffffff; 
  	background-color: #3AB35A; 
	border-color: #0F6B25; 
	cursor: pointer;
}

.bg-co-top-1-btn-div {
	display: flex; 
	margin: 10px 10px 0px 10px;
}


/*<!-- ----Box 2-------->*/

.column-1-div-2 {
	
	
}

.responsive-div-btn {
	
}

.bg-co-top-2 {
	background: url(img/trees.jpg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.btn-2 {


		color: #ffffff; 
  	background-color: #2087BE; 
  border-color: #1B6A94; 
	
	margin: 0 auto; 
	font-size: 12px;
	padding: 10px 29px;
	border-radius: 7px;
}

.btn-2:hover {
	color: #FFFFFF; 
  background-color: #1379B0; 
  border-color: #1B6A94; 
	cursor: pointer;
}

/*<!-- ----Box 3-------->*/

.column-1-div-3 {

}

.bg-co-top-3 {
	background: url(img/bridge.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.btn-3 {
	color: #ffffff; 
  background-color: #852510; 
  border-color: #6B1E0D;  
	padding: 10px 29px;
    font-size: 12px;
    border-radius: 7px;
}

.btn-3:hover {
	color: #ffffff; 
  background-color: #752A1A; 
  border-color: #6B1E0D; 
	cursor: pointer;
}

/*<!-- ----Box 4-------->*/

.bg-co-top-4 {
	background: url(img/canyon.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-5 {
	background: url(img/railroad.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.btn-1-5 {
	color: #746F6B; 
  background-color: #fff; 
  border-color: #746F6B; 
	padding: 10px 29px;
    font-size: 12px;
		border-radius: 7px;
		margin: 0 auto;
		position: relative;
    top: -10px;
}

.btn-1-5:hover {
	color: #746F6B; 
  background-color: #F5F5F5; 
  border-color: #746F6B; 
	cursor: pointer;
}

.bg-co-top-6 {
	background: url(img/steam.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-7 {
	background: url(img/walkway.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-8 {
	background: url(img/mountains.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.bg-co-top-9 {
	background: url(img/city.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 50%;
}

.two-column-left-side-btn-div {
	display: flex; 
	margin: 10px 10px 0px 10px;
}




/*<!-- ---------Header 2--------------->*/

#header-2 {
	background: url(img/beach.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 209px;
    margin-top: 33px;
}


.header-2-h2 {
	text-align: center;
	color: white;
	font-size: 33px;
	text-align: center;
	padding-top: 25px;
}

.header-2-p {
	color: white;
	text-align: center;
	padding-top: 15px;
}



/*<!-- ---------Column Final--------------->*/
.column-1-div-final {
	background-color: #f2f2f2;
	box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.75);
	height: 466px;
    width: 758px;
	margin: 20px;
}

.bg-co-top-final {
	background: url(img/leaves.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 75%;
}

.column-1-final {
    width: 100%;
    display: flex;
}



/*<!-- ---------Contact Form--------------->*/

input[type="text"], textarea {

	background-color: rgba(179, 185, 186, 0.6);
	color: #000;

}

.r-c-m-type-text {
	color: #000;
	background-color: rgba(179, 185, 186, 0.6);

}

.r-c-m-type-text:focus { 
	color: #000;
    background-color: rgba(179, 185, 186, 0.6);
}


#contact-form-main {
	background: url(img/city.jpeg) no-repeat center; 
	background-size: cover;
	width: 100%;
	height: 20em;
}

.left-contact-main {
	display: grid; 
	width: 240px;
	margin: 0 auto;
	
}

.l-c-m-input {
	background-color: rgba(179, 185, 186, 0.6); 
	color: #000;
border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #000;
	opacity: 1; /* Firefox */
  }


.left-contact-main, input[type="input"], textarea {
	width: 300px;
	height: 28px;
	margin-top: 7px;
	
}

.right-contact-main {
	display: grid; 
	margin: 0 auto;
}

.right-contact-main, input[type="text"], textarea {
	width: 300px;
	height: 178px;

color: rgba(179, 185, 186, 0.6);
border: none;
resize: none;

	
}

.btn-forms-end {
	display: inline-grid;
}


/*<!-- ---------Footer--------------->*/

footer {
	background-color: #fff;
	width: 100%;
	height: 7em;
}

.footer-h2 {
	font-size: 29px;
    margin-top: 19px;
}

.footer-p {
	margin-top: 14px;
    width: 386px;
    margin: 5px auto;
}

.credit {
	background-color: #fff;
	width: 100%;
	height: 2em;
	border-top: 1px solid #d4cdcd;
}

.testing-media {
	display: inline-block;
}

.arrow-font-cs {
	font-size: 33px;
	display: inline-block;
	float: right;
	position: relative;
	bottom: 11px;
	right: 5px;
	
}





